
PicSimulator/obj/Debug/net9.0/refint/Avalonia/PicSimulator.dll
PicSimulator/obj/Debug/net9.0/refint/PicSimulator.dll
PicSimulator/obj/Debug/net9.0/ref/PicSimulator.dll
PicSimulator/obj/Debug/net9.0/Avalonia/resources
PicSimulator/obj/Debug/net9.0/Avalonia/PicSimulator.pdb
PicSimulator/obj/Debug/net9.0/Avalonia/PicSimulator.dll
PicSimulator/obj/Debug/net9.0/PicSimulator.sourcelink.json
PicSimulator/obj/Debug/net9.0/PicSimulator.pdb
PicSimulator/obj/Debug/net9.0/PicSimulator.dll
PicSimulator/bin/Debug/net9.0/PicSimulator.pdb
PicSimulator/bin/Debug/net9.0/PicSimulator.dll
.idea/workspace.xml
.idea/vcs.xml
